@model List<DataAccessLayer.ViewModels.OrderViewModel>

<div class="d-flex justify-content-between">
    <h2>Orders</h2>
    <a asp-action="Create" class="btn btn-primary mb-3 ">+ Add Order</a>
</div>

<form asp-action="UpdateOrder" method="post">
    <table class="table fs-5" id="ordersTable">
        <thead>
            <tr>
                <th># Order ID</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var order = Model[i];

                <tr>
                    <td class="ps-3"># @order.OrderId
                        <input type="hidden" name="Orders[@i].OrderId" value="@order.OrderId" />
                    </td>
                    <td>₹ @(order.OrderTotal)</td>
                    <td>
                        <select name="Orders[@i].OrderStatus" class="form-control order-status"
                            data-original="@order.OrderStatus">
                            @if (order.OrderStatus == "In Process")
                            {
                                <option value="In Process" selected>In Process</option>
                                <option value="Completed">Completed</option>
                            }
                            else
                            {
                                <option value="In Process">In Process</option>
                                <option value="Completed" selected>Completed</option>
                            }
                        </select>

                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-info">View</a>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success mt-3" id="updateButton" disabled>Update Orders</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            var table = $('#ordersTable').DataTable({
                responsive: true
            });

            var updateButton = $('#updateButton');
            var statusDropdowns = $('.order-status');

            updateButton.prop('disabled', true); // Disable on load


            statusDropdowns.on('change', function () {
                let hasChanged = false;

                // Loop through all dropdowns
                statusDropdowns.each(function () {
                    if ($(this).val() !== $(this).data('original')) {
                        hasChanged = true;
                        return false; // break loop
                    }
                });

                updateButton.prop('disabled', !hasChanged);
            });
        });
    </script>
}