@using DataAccessLayer.ViewModels
@model PaginationViewModel<EmployeeViewModel>
 
@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="6" class="text-center text-danger fw-bold">No Records Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        var hasAttendanceToday = ViewBag.AttendanceStatus != null && ViewBag.AttendanceStatus.ContainsKey(item.EmployeeId) && ViewBag.AttendanceStatus[item.EmployeeId];
        <tr class="border border-end-0 border-start-0 border-top-0 border-bottom-1 @(hasAttendanceToday ? "table-success" : "")">
            <td class="text-start text-nowrap"># @item.EmployeeId</td>
            <td class="text-start text-nowrap OpenAttendanceModal"
                data-id="@item.EmployeeId"
                data-attenid="0"
                data-bs-toggle="modal"
                data-bs-target="#SaveAttendanceModal"
                style="cursor: pointer;"
                title="Add Attendance">
                @item.FirstName @item.LastName
                @if (hasAttendanceToday)
                {
                    <span class="badge bg-success fw-light ms-2">Present</span>
                }
            </td>
            <td class="text-start text-nowrap text-truncate">@item.Email</td>
            <td class="text-start text-nowrap">@item.Department</td>
            <td class="text-start text-nowrap">@item.Position</td>
            <td class="text-start text-nowrap">
                <i class="fa-solid fa-pen w-25 SaveEmployeeId"
                   data-bs-toggle="modal"
                   data-bs-target="#SaveEmployeeModal"
                   data-id="@item.EmployeeId"
                   style="cursor: pointer;"
                   title="Edit Employee"></i>
                <i class="fa-solid fa-trash-can ms-2"
                   data-bs-toggle="modal"
                   data-bs-target="#DeleteEmployeeModal"
                   data-id="@item.EmployeeId"
                   onclick="GetIdForDeleteEmployee(this)"
                   style="cursor: pointer;"
                   title="Delete Employee"></i>
                @if (hasAttendanceToday)
                {
                    <span class="badge bg-danger fw-lighter delete-attendance"
                          data-id="@item.EmployeeId"
                          data-attenid="@item.AttendanceId"
                          data-bs-toggle="modal"
                          data-bs-target="#DeleteAttendanceModal"
                          title="Delete Attendance"
                          style="font-weight: 100; letter-spacing: 1px; cursor: pointer; margin-left: 40px;"
                          onclick="GetIdForDeleteAttendance(this)">Delete</span>
                }
            </td>
        </tr>
    }
}
<input type="hidden" id="totalRecords" value="@Model.TotalCount" />