@model DataAccessLayer.ViewModels.EmployeeViewModel;


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fs-5 fw-bold text-secondary">@(Model.EmployeeId == 0 ? "Add Employee" : "Edit Employee")
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="SaveEmployeeForm">
        <div class="modal-body ">

            <input type="hidden" asp-for="@Model.EmployeeId" />

            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="FirstName" asp-for="@Model.FirstName"
                        placeholder="First Name*">
                    <label for="FirstName" class="text-black-50">First Name*</label>
                    <span asp-validation-for="@Model.FirstName" class="text-danger text-size"></span>
                </div>
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="LastName" asp-for="@Model.LastName"
                        placeholder="Last Name*">
                    <label for="LastName" class="text-black-50">Last Name*</label>
                    <span asp-validation-for="@Model.LastName" class="text-danger text-size"></span>
                </div>
            </div>
            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating col mb-3">
                    @if (Model.EmployeeId == 0)
                    {
                        <input type="email" class="form-control" id="Email" asp-for="@Model.Email" placeholder="Email*">
                        <label for="Email" class="text-black-50">Email*</label>
                        <span asp-validation-for="@Model.Email" class="text-danger text-size"></span>
                    }
                    else
                    {
                        <input type="hidden" class="form-control" id="Email" asp-for="@Model.Email" placeholder="Email*">
                        <input type="email" class="form-control" id="Email" asp-for="@Model.Email" placeholder="Email*" disabled>
                        <label for="Email" class="text-black-50">Email*</label>
                    }
                </div>
                <div class="form-floating col mb-3">
                    <input type="text" id="Position" asp-for="@Model.Position" class="form-control"
                        placeholder="Position*">
                    <label for="Position" class="text-black-50">Position*</label>
                    <span class="text-danger text-size" asp-validation-for="@Model.Position"></span>
                </div>
            </div>

            <div class="form-floating col mb-3">
                <input type="text" id="Department" asp-for="@Model.Department" class="form-control"
                    placeholder="Department*">
                <label for="Department" class="text-black-50">Department*</label>
                <span class="text-danger text-size" asp-validation-for="@Model.Department"></span>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn solid-btn">Save</button>
                <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    // POST method of AddEdit Tax
    $("#SaveEmployeeForm").on("submit", function (e) {

        e.preventDefault();

        let form = $("#SaveEmployeeForm");

        if (form.valid()) {

            let formData = new FormData(this);

            $.ajax({
                url: "/Home/SaveEmployee",
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success) {
                        callSuccessToaster(data.text);
                        Pagination(currentPage, searchText, pageSize, sortColumn, sortDirection);
                        $(".btn-close").click();
                    } else {
                        callErrorToaster(data.text);
                    }
                }
            });
        }
    });
</script>